@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    margin-top: 11%;
   
}
.qr{
    width:260px;
    height:400px;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    overflow: hidden;
}

img{
    height: 230px;
    width:auto;
    border-radius: 15px;
    top: 3px;
}
h1{
    font-size: 20px;
    text-align: center;
    font-family: outfit;
    font-weight: 700;
    padding: 3px;
    color:hsl(218, 44%, 22%);
}
p{
    font-size: 15px;
    text-align: center;
    font-family: outfit;
    font-weight: 400;
    padding:5px;
    color:hsl(220, 15%, 55%);
}